In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import KFold

In [2]:
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [3]:
# This is the function to create new columns from the description columns
interests = ['python', 'machine learning', 'deep learning', 'engineer','data science','artificial intelligence', 'nlp','cs','computers','follow','followback']
def new_column(string):
    df[string] = np.where(df['description'].str.lower().str.contains(string)==True,1,0)

In [4]:
df = pd.read_csv("Twitter_MOST_New.csv")
df.head()

,Unnamed: 0,username,user_id,description,url_count,protected,followers_count,friends_count,user_created_at,user_favourites_count,utc_offset,geo_enabled,veified,user_statuses_count,contributors_enabled,translation_enabled,user_follows_me,user_is_friend
0,0,castolosan,251924369,Developer and PhD student. Deep Neural Alchemi...,NaN,False,704,4229,2011,1116,NaN,False,False,2857,False,False,1,1
1,1,mostafa_albana_,229952696,#machinelearning #bigdata #datascience #java #...,1.0,False,561,2266,2010,258,NaN,False,False,260,False,False,0,1
2,2,Smrdas85,926455288089026561,Graphics Designing Engineering at Sun Flower G...,1.0,False,237,1725,2017,8169,NaN,True,False,3486,False,False,0,1
3,3,denisniskim,2901993755,Son of Godüôá‚Äç‚ôÇÔ∏èStrategist‚úçÔ∏èEnvironmentalistüå¥Tec...,1.0,False,63,1155,2014,312,NaN,False,False,117,False,False,0,1
4,4,BHARGAVAANIL,135140166,AN ALUMNI OF PANJAB UNIVERSITY AND A LAW GRADU...,NaN,False,1024,3465,2010,1921,NaN,True,False,4722,False,False,0,1

In [5]:
df.columns

Index(['Unnamed: 0', 'username', 'user_id', 'description', 'url_count',
       'protected', 'followers_count', 'friends_count', 'user_created_at',
       'user_favourites_count', 'utc_offset', 'geo_enabled', 'veified',
       'user_statuses_count', 'contributors_enabled', 'translation_enabled',
       'user_follows_me', 'user_is_friend'],
      dtype='object')

In [6]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
# Calling function to create new columns

for i in interests:
    new_column(i)


# missing values

In [8]:
df.isnull().sum()

username                      0
user_id                       0
description                   1
url_count                   801
protected                     0
followers_count               0
friends_count                 0
user_created_at               0
user_favourites_count         0
utc_offset                 1950
geo_enabled                   0
veified                       0
user_statuses_count           0
contributors_enabled          0
translation_enabled           0
user_follows_me               0
user_is_friend                0
python                        0
machine learning              0
deep learning                 0
engineer                      0
data science                  0
artificial intelligence       0
nlp                           0
cs                            0
computers                     0
follow                        0
followback                    0
dtype: int64

In [9]:
df.drop(['utc_offset'],axis=1,inplace=True)
df.url_count.fillna(0,inplace=True) #url count for users is 0 hence it is showing a null value, thats why replacing it with 0

In [10]:
# We have extracted information from the description columns hence not required.
df.drop(['description'],axis=1,inplace=True)

In [11]:
df.isnull().sum()

username                   0
user_id                    0
url_count                  0
protected                  0
followers_count            0
friends_count              0
user_created_at            0
user_favourites_count      0
geo_enabled                0
veified                    0
user_statuses_count        0
contributors_enabled       0
translation_enabled        0
user_follows_me            0
user_is_friend             0
python                     0
machine learning           0
deep learning              0
engineer                   0
data science               0
artificial intelligence    0
nlp                        0
cs                         0
computers                  0
follow                     0
followback                 0
dtype: int64

In [12]:
# Hence handle all the missing values

# Dropping the Irrelevent columns.

In [13]:
df.head()

,username,user_id,url_count,protected,followers_count,friends_count,user_created_at,user_favourites_count,geo_enabled,veified,...,machine learning,deep learning,engineer,data science,artificial intelligence,nlp,cs,computers,follow,followback
0,castolosan,251924369,0.0,False,704,4229,2011,1116,False,False,...,0,0,0,0,0,0,0,0,0,0
1,mostafa_albana_,229952696,1.0,False,561,2266,2010,258,False,False,...,0,0,1,0,0,0,0,0,0,0
2,Smrdas85,926455288089026561,1.0,False,237,1725,2017,8169,True,False,...,0,0,1,0,0,0,1,0,0,0
3,denisniskim,2901993755,1.0,False,63,1155,2014,312,False,False,...,0,0,0,0,0,0,0,0,0,0
4,BHARGAVAANIL,135140166,0.0,False,1024,3465,2010,1921,True,False,...,0,0,0,0,0,0,1,0,0,0

In [14]:
# These columns have either large number of unique Values or a single value for all the obeservations. 
df.drop(['username','user_id','protected'],axis=1,inplace=True)
df.head()

,url_count,followers_count,friends_count,user_created_at,user_favourites_count,geo_enabled,veified,user_statuses_count,contributors_enabled,translation_enabled,...,machine learning,deep learning,engineer,data science,artificial intelligence,nlp,cs,computers,follow,followback
0,0.0,704,4229,2011,1116,False,False,2857,False,False,...,0,0,0,0,0,0,0,0,0,0
1,1.0,561,2266,2010,258,False,False,260,False,False,...,0,0,1,0,0,0,0,0,0,0
2,1.0,237,1725,2017,8169,True,False,3486,False,False,...,0,0,1,0,0,0,1,0,0,0
3,1.0,63,1155,2014,312,False,False,117,False,False,...,0,0,0,0,0,0,0,0,0,0
4,0.0,1024,3465,2010,1921,True,False,4722,False,False,...,0,0,0,0,0,0,1,0,0,0

In [15]:
# First converting them to 'object' type
df['geo_enabled'] = df['geo_enabled'].astype(str)
df['veified'] = df['veified'].astype(str)
df['contributors_enabled'] = df['contributors_enabled'].astype(str)
df['translation_enabled'] = df['translation_enabled'].astype(str)

In [16]:
# Mapping True with 1 and False with 0
df.geo_enabled.replace(['True','False'],[1, 0],inplace=True)
df.veified.replace(['True','False'],[1, 0],inplace=True)
df.contributors_enabled.replace(['True','False'],[1, 0],inplace=True)
df.translation_enabled.replace(['True','False'],[1, 0],inplace=True)

# Cross validation split

In [17]:
X = df.drop(['user_follows_me'],axis=1)
y = df['user_follows_me']

In [18]:
kf = KFold(n_splits=3,shuffle=False,random_state=None)



for train_index, test_index in kf.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

TRAIN: [ 650  651  652 ... 1947 1948 1949] TEST: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649]
TRAIN: [   0    1    2 ... 1947 1948 1949] TEST: [ 650  651  652  653  654  655  656  657  658  659  660  661  662  663
  664  665  666  667  668  669  670  671  672  673  674  675  676  677
  678  679  680  681  682  683  684  685  686  687  688  689  690  691
  692  693  694  695  696  697  698  699  700  701  702  703  704  705
  706  707  708  709  710  711  712  713  714  715  716  717  718  719
  720  721  722  723  724  725  726  727  728  729  730  731  732  733
  734  735  736  737  738  739  740  741  742  743  744  745  746  747
  748  749  750  751  752  753  754  755  756  757  758  759  760  761
  762  763  764  765  766  767  768  769  770  771  772  773  774  775
  776  777  778  779  780  781  782  783  784  785  786  787  788  789
  790  791  792  793  794  795  796  797  798  799  800  801  802  803
  804  805  806  807  808  809  810  811  812  813  814  815  816  817
  818  819  820  821  822  823  824  825  826  827  828  829  830  831
  832  833  834  835  836  837  838  839  840  841  842  843  844  845
  846  847  848  849  850  851  852  853  854  855  856  857  858  859
  860  861  862  863  864  865  866  867  868  869  870  871  872  873
  874  875  876  877  878  879  880  881  882  883  884  885  886  887
  888  889  890  891  892  893  894  895  896  897  898  899  900  901
  902  903  904  905  906  907  908  909  910  911  912  913  914  915
  916  917  918  919  920  921  922  923  924  925  926  927  928  929
  930  931  932  933  934  935  936  937  938  939  940  941  942  943
  944  945  946  947  948  949  950  951  952  953  954  955  956  957
  958  959  960  961  962  963  964  965  966  967  968  969  970  971
  972  973  974  975  976  977  978  979  980  981  982  983  984  985
  986  987  988  989  990  991  992  993  994  995  996  997  998  999
 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013
 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027
 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041
 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055
 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069
 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083
 1084 1085 1086 1087 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097
 1098 1099 1100 1101 1102 1103 1104 1105 1106 1107 1108 1109 1110 1111
 1112 1113 1114 1115 1116 1117 1118 1119 1120 1121 1122 1123 1124 1125
 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139
 1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1150 1151 1152 1153
 1154 1155 1156 1157 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167
 1168 1169 1170 1171 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181
 1182 1183 1184 1185 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195
 1196 1197 1198 1199 1200 1201 1202 1203 1204 1205 1206 1207 1208 1209
 1210 1211 1212 1213 1214 1215 1216 1217 1218 1219 1220 1221 1222 1223
 1224 1225 1226 1227 1228 1229 1230 1231 1232 1233 1234 1235 1236 1237
 1238 1239 1240 1241 1242 1243 1244 1245 1246 1247 1248 1249 1250 1251
 1252 1253 1254 1255 1256 1257 1258 1259 1260 1261 1262 1263 1264 1265
 1266 1267 1268 1269 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279
 1280 1281 1282 1283 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293
 1294 1295 1296 1297 1298 1299]
TRAIN: [   0    1    2 ... 1297 1298 1299] TEST: [1300 1301 1302 1303 1304 1305 1306 1307 1308 1309 1310 1311 1312 1313
 1314 1315 1316 1317 1318 1319 1320 1321 1322 1323 1324 1325 1326 1327
 1328 1329 1330 1331 1332 1333 1334 1335 1336 1337 1338 1339 1340 1341
 1342 1343 1344 1345 1346 1347 1348 1349 1350 1351 1352 1353 1354 1355
 1356 1357 1358 1359 1360 1361 1362 1363 1364 1365 1366 1367 1368 1369
 1370 1371 1372 1373 1374 1375 1376 1377 1378 1379 1380 1381 1382 1383
 1384 1385 1386 1387 1388 1389 1390 1391 1392 1393 1394 1395 1396 1397
 1398 1399 1400 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411
 1412 1413 1414 1415 1416 1417 1418 1419 1420 1421 1422 1423 1424 1425
 1426 1427 1428 1429 1430 1431 1432 1433 1434 1435 1436 1437 1438 1439
 1440 1441 1442 1443 1444 1445 1446 1447 1448 1449 1450 1451 1452 1453
 1454 1455 1456 1457 1458 1459 1460 1461 1462 1463 1464 1465 1466 1467
 1468 1469 1470 1471 1472 1473 1474 1475 1476 1477 1478 1479 1480 1481
 1482 1483 1484 1485 1486 1487 1488 1489 1490 1491 1492 1493 1494 1495
 1496 1497 1498 1499 1500 1501 1502 1503 1504 1505 1506 1507 1508 1509
 1510 1511 1512 1513 1514 1515 1516 1517 1518 1519 1520 1521 1522 1523
 1524 1525 1526 1527 1528 1529 1530 1531 1532 1533 1534 1535 1536 1537
 1538 1539 1540 1541 1542 1543 1544 1545 1546 1547 1548 1549 1550 1551
 1552 1553 1554 1555 1556 1557 1558 1559 1560 1561 1562 1563 1564 1565
 1566 1567 1568 1569 1570 1571 1572 1573 1574 1575 1576 1577 1578 1579
 1580 1581 1582 1583 1584 1585 1586 1587 1588 1589 1590 1591 1592 1593
 1594 1595 1596 1597 1598 1599 1600 1601 1602 1603 1604 1605 1606 1607
 1608 1609 1610 1611 1612 1613 1614 1615 1616 1617 1618 1619 1620 1621
 1622 1623 1624 1625 1626 1627 1628 1629 1630 1631 1632 1633 1634 1635
 1636 1637 1638 1639 1640 1641 1642 1643 1644 1645 1646 1647 1648 1649
 1650 1651 1652 1653 1654 1655 1656 1657 1658 1659 1660 1661 1662 1663
 1664 1665 1666 1667 1668 1669 1670 1671 1672 1673 1674 1675 1676 1677
 1678 1679 1680 1681 1682 1683 1684 1685 1686 1687 1688 1689 1690 1691
 1692 1693 1694 1695 1696 1697 1698 1699 1700 1701 1702 1703 1704 1705
 1706 1707 1708 1709 1710 1711 1712 1713 1714 1715 1716 1717 1718 1719
 1720 1721 1722 1723 1724 1725 1726 1727 1728 1729 1730 1731 1732 1733
 1734 1735 1736 1737 1738 1739 1740 1741 1742 1743 1744 1745 1746 1747
 1748 1749 1750 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760 1761
 1762 1763 1764 1765 1766 1767 1768 1769 1770 1771 1772 1773 1774 1775
 1776 1777 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789
 1790 1791 1792 1793 1794 1795 1796 1797 1798 1799 1800 1801 1802 1803
 1804 1805 1806 1807 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817
 1818 1819 1820 1821 1822 1823 1824 1825 1826 1827 1828 1829 1830 1831
 1832 1833 1834 1835 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845
 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859
 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873
 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887
 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901
 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915
 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929
 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943
 1944 1945 1946 1947 1948 1949]

In [19]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((1300, 22), (650, 22), (1300,), (650,))

In [20]:
y_train.value_counts()

0    1133
1     167
Name: user_follows_me, dtype: int64

In [21]:
y_test.value_counts()

0    546
1    104
Name: user_follows_me, dtype: int64

In [22]:
X_train.head()

,url_count,followers_count,friends_count,user_created_at,user_favourites_count,geo_enabled,veified,user_statuses_count,contributors_enabled,translation_enabled,...,machine learning,deep learning,engineer,data science,artificial intelligence,nlp,cs,computers,follow,followback
0,0.0,704,4229,2011,1116,0,0,2857,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,561,2266,2010,258,0,0,260,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1.0,237,1725,2017,8169,1,0,3486,0,0,...,0,0,1,0,0,0,1,0,0,0
3,1.0,63,1155,2014,312,0,0,117,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,1024,3465,2010,1921,1,0,4722,0,0,...,0,0,0,0,0,0,1,0,0,0

# Random Forest Classifier

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
RFC = RandomForestClassifier()
RFC.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [25]:
predictions_RFC = RFC.predict(X_test)

metrics.accuracy_score(y_test,predictions_RFC)

0.8307692307692308

In [26]:
metrics.f1_score(y_test,predictions_RFC)

0.11290322580645161

In [27]:
print(metrics.classification_report(y_test,predictions_RFC))

              precision    recall  f1-score   support

           0       0.85      0.98      0.91       546
           1       0.35      0.07      0.11       104

    accuracy                           0.83       650
   macro avg       0.60      0.52      0.51       650
weighted avg       0.77      0.83      0.78       650

# Logistic Regression

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
LR = LogisticRegression()
LR.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
predictions_LR = LR.predict(X_test)

metrics.accuracy_score(y_test,predictions_LR)

0.8384615384615385

In [31]:
metrics.f1_score(y_test,predictions_LR)

0.0

In [32]:
print(metrics.classification_report(y_test,predictions_LR))

              precision    recall  f1-score   support

           0       0.84      1.00      0.91       546
           1       0.00      0.00      0.00       104

    accuracy                           0.84       650
   macro avg       0.42      0.50      0.46       650
weighted avg       0.71      0.84      0.77       650

# Feature Selection

In [33]:
Important = pd.DataFrame({'Columns':X.columns,'importances':RFC.feature_importances_*100})
Important

                    Columns  importances
0                 url_count     2.698237
1           followers_count    17.975826
2             friends_count    18.203344
3           user_created_at    11.512797
4     user_favourites_count    21.273034
5               geo_enabled     1.560366
6                   veified     0.311451
7       user_statuses_count    17.201292
8      contributors_enabled     0.000000
9       translation_enabled     0.133949
10           user_is_friend     0.000000
11                   python     0.944513
12         machine learning     1.097825
13            deep learning     0.602046
14                 engineer     1.171847
15             data science     1.095582
16  artificial intelligence     0.995911
17                      nlp     0.307268
18                       cs     1.776740
19                computers     0.725161
20                   follow     0.410007
21               followback     0.002804

In [34]:
New_X = X.loc[:,list(Important[Important['importances']>2]['Columns'])
             ]
New_X.head()

,url_count,followers_count,friends_count,user_created_at,user_favourites_count,user_statuses_count
0,0.0,704,4229,2011,1116,2857
1,1.0,561,2266,2010,258,260
2,1.0,237,1725,2017,8169,3486
3,1.0,63,1155,2014,312,117
4,0.0,1024,3465,2010,1921,4722

In [35]:
kf = KFold(n_splits=3,shuffle=False,random_state=None)



for train_index, test_index in kf.split(New_X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = New_X.iloc[train_index], New_X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

TRAIN: [ 650  651  652 ... 1947 1948 1949] TEST: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649]
TRAIN: [   0    1    2 ... 1947 1948 1949] TEST: [ 650  651  652  653  654  655  656  657  658  659  660  661  662  663
  664  665  666  667  668  669  670  671  672  673  674  675  676  677
  678  679  680  681  682  683  684  685  686  687  688  689  690  691
  692  693  694  695  696  697  698  699  700  701  702  703  704  705
  706  707  708  709  710  711  712  713  714  715  716  717  718  719
  720  721  722  723  724  725  726  727  728  729  730  731  732  733
  734  735  736  737  738  739  740  741  742  743  744  745  746  747
  748  749  750  751  752  753  754  755  756  757  758  759  760  761
  762  763  764  765  766  767  768  769  770  771  772  773  774  775
  776  777  778  779  780  781  782  783  784  785  786  787  788  789
  790  791  792  793  794  795  796  797  798  799  800  801  802  803
  804  805  806  807  808  809  810  811  812  813  814  815  816  817
  818  819  820  821  822  823  824  825  826  827  828  829  830  831
  832  833  834  835  836  837  838  839  840  841  842  843  844  845
  846  847  848  849  850  851  852  853  854  855  856  857  858  859
  860  861  862  863  864  865  866  867  868  869  870  871  872  873
  874  875  876  877  878  879  880  881  882  883  884  885  886  887
  888  889  890  891  892  893  894  895  896  897  898  899  900  901
  902  903  904  905  906  907  908  909  910  911  912  913  914  915
  916  917  918  919  920  921  922  923  924  925  926  927  928  929
  930  931  932  933  934  935  936  937  938  939  940  941  942  943
  944  945  946  947  948  949  950  951  952  953  954  955  956  957
  958  959  960  961  962  963  964  965  966  967  968  969  970  971
  972  973  974  975  976  977  978  979  980  981  982  983  984  985
  986  987  988  989  990  991  992  993  994  995  996  997  998  999
 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013
 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027
 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037 1038 1039 1040 1041
 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 1055
 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069
 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083
 1084 1085 1086 1087 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097
 1098 1099 1100 1101 1102 1103 1104 1105 1106 1107 1108 1109 1110 1111
 1112 1113 1114 1115 1116 1117 1118 1119 1120 1121 1122 1123 1124 1125
 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136 1137 1138 1139
 1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1150 1151 1152 1153
 1154 1155 1156 1157 1158 1159 1160 1161 1162 1163 1164 1165 1166 1167
 1168 1169 1170 1171 1172 1173 1174 1175 1176 1177 1178 1179 1180 1181
 1182 1183 1184 1185 1186 1187 1188 1189 1190 1191 1192 1193 1194 1195
 1196 1197 1198 1199 1200 1201 1202 1203 1204 1205 1206 1207 1208 1209
 1210 1211 1212 1213 1214 1215 1216 1217 1218 1219 1220 1221 1222 1223
 1224 1225 1226 1227 1228 1229 1230 1231 1232 1233 1234 1235 1236 1237
 1238 1239 1240 1241 1242 1243 1244 1245 1246 1247 1248 1249 1250 1251
 1252 1253 1254 1255 1256 1257 1258 1259 1260 1261 1262 1263 1264 1265
 1266 1267 1268 1269 1270 1271 1272 1273 1274 1275 1276 1277 1278 1279
 1280 1281 1282 1283 1284 1285 1286 1287 1288 1289 1290 1291 1292 1293
 1294 1295 1296 1297 1298 1299]
TRAIN: [   0    1    2 ... 1297 1298 1299] TEST: [1300 1301 1302 1303 1304 1305 1306 1307 1308 1309 1310 1311 1312 1313
 1314 1315 1316 1317 1318 1319 1320 1321 1322 1323 1324 1325 1326 1327
 1328 1329 1330 1331 1332 1333 1334 1335 1336 1337 1338 1339 1340 1341
 1342 1343 1344 1345 1346 1347 1348 1349 1350 1351 1352 1353 1354 1355
 1356 1357 1358 1359 1360 1361 1362 1363 1364 1365 1366 1367 1368 1369
 1370 1371 1372 1373 1374 1375 1376 1377 1378 1379 1380 1381 1382 1383
 1384 1385 1386 1387 1388 1389 1390 1391 1392 1393 1394 1395 1396 1397
 1398 1399 1400 1401 1402 1403 1404 1405 1406 1407 1408 1409 1410 1411
 1412 1413 1414 1415 1416 1417 1418 1419 1420 1421 1422 1423 1424 1425
 1426 1427 1428 1429 1430 1431 1432 1433 1434 1435 1436 1437 1438 1439
 1440 1441 1442 1443 1444 1445 1446 1447 1448 1449 1450 1451 1452 1453
 1454 1455 1456 1457 1458 1459 1460 1461 1462 1463 1464 1465 1466 1467
 1468 1469 1470 1471 1472 1473 1474 1475 1476 1477 1478 1479 1480 1481
 1482 1483 1484 1485 1486 1487 1488 1489 1490 1491 1492 1493 1494 1495
 1496 1497 1498 1499 1500 1501 1502 1503 1504 1505 1506 1507 1508 1509
 1510 1511 1512 1513 1514 1515 1516 1517 1518 1519 1520 1521 1522 1523
 1524 1525 1526 1527 1528 1529 1530 1531 1532 1533 1534 1535 1536 1537
 1538 1539 1540 1541 1542 1543 1544 1545 1546 1547 1548 1549 1550 1551
 1552 1553 1554 1555 1556 1557 1558 1559 1560 1561 1562 1563 1564 1565
 1566 1567 1568 1569 1570 1571 1572 1573 1574 1575 1576 1577 1578 1579
 1580 1581 1582 1583 1584 1585 1586 1587 1588 1589 1590 1591 1592 1593
 1594 1595 1596 1597 1598 1599 1600 1601 1602 1603 1604 1605 1606 1607
 1608 1609 1610 1611 1612 1613 1614 1615 1616 1617 1618 1619 1620 1621
 1622 1623 1624 1625 1626 1627 1628 1629 1630 1631 1632 1633 1634 1635
 1636 1637 1638 1639 1640 1641 1642 1643 1644 1645 1646 1647 1648 1649
 1650 1651 1652 1653 1654 1655 1656 1657 1658 1659 1660 1661 1662 1663
 1664 1665 1666 1667 1668 1669 1670 1671 1672 1673 1674 1675 1676 1677
 1678 1679 1680 1681 1682 1683 1684 1685 1686 1687 1688 1689 1690 1691
 1692 1693 1694 1695 1696 1697 1698 1699 1700 1701 1702 1703 1704 1705
 1706 1707 1708 1709 1710 1711 1712 1713 1714 1715 1716 1717 1718 1719
 1720 1721 1722 1723 1724 1725 1726 1727 1728 1729 1730 1731 1732 1733
 1734 1735 1736 1737 1738 1739 1740 1741 1742 1743 1744 1745 1746 1747
 1748 1749 1750 1751 1752 1753 1754 1755 1756 1757 1758 1759 1760 1761
 1762 1763 1764 1765 1766 1767 1768 1769 1770 1771 1772 1773 1774 1775
 1776 1777 1778 1779 1780 1781 1782 1783 1784 1785 1786 1787 1788 1789
 1790 1791 1792 1793 1794 1795 1796 1797 1798 1799 1800 1801 1802 1803
 1804 1805 1806 1807 1808 1809 1810 1811 1812 1813 1814 1815 1816 1817
 1818 1819 1820 1821 1822 1823 1824 1825 1826 1827 1828 1829 1830 1831
 1832 1833 1834 1835 1836 1837 1838 1839 1840 1841 1842 1843 1844 1845
 1846 1847 1848 1849 1850 1851 1852 1853 1854 1855 1856 1857 1858 1859
 1860 1861 1862 1863 1864 1865 1866 1867 1868 1869 1870 1871 1872 1873
 1874 1875 1876 1877 1878 1879 1880 1881 1882 1883 1884 1885 1886 1887
 1888 1889 1890 1891 1892 1893 1894 1895 1896 1897 1898 1899 1900 1901
 1902 1903 1904 1905 1906 1907 1908 1909 1910 1911 1912 1913 1914 1915
 1916 1917 1918 1919 1920 1921 1922 1923 1924 1925 1926 1927 1928 1929
 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942 1943
 1944 1945 1946 1947 1948 1949]

# Upsampling

In [36]:
from sklearn.utils import resample

In [37]:
X_train.shape,y_train.shape,X_test.shape,y_test.shape

((1300, 6), (1300,), (650, 6), (650,))

In [38]:
X = pd.concat([X_train, y_train], axis=1)

# separate minority and majority classes
not_following = X[X.user_follows_me==0]
following = X[X.user_follows_me==1]

# upsample minority
following_upsampled = resample(following,
                          replace=True, # sample with replacement
                          n_samples=len(not_following), # match number in majority class
                          random_state=27) # reproducible results

In [39]:
# combine majority and upsampled minority
upsampled = pd.concat([not_following, following_upsampled])

# check new class counts
upsampled.user_follows_me.value_counts()

1    1133
0    1133
Name: user_follows_me, dtype: int64

In [40]:
X_train = upsampled.drop(['user_follows_me'],axis=1)
y_train = upsampled.loc[:,['user_follows_me']]

In [41]:
X_train.shape,y_train.shape

((2266, 6), (2266, 1))

In [42]:
# Random Forest After Resampling

In [43]:
RFC_1 = RandomForestClassifier()
RFC_1.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [44]:
predictions_RFC1 = RFC_1.predict(X_test)

print("The Accuracy score is : {} ".format(metrics.accuracy_score(y_test,predictions_RFC1)))
print("The F1 Score is : {}".format(metrics.f1_score(y_test,predictions_RFC1)))

The Accuracy score is : 0.7984615384615384
The F1 Score is : 0.13245033112582782

In [45]:
print(metrics.classification_report(y_test,predictions_RFC1))

              precision    recall  f1-score   support

           0       0.84      0.93      0.89       546
           1       0.21      0.10      0.13       104

    accuracy                           0.80       650
   macro avg       0.53      0.51      0.51       650
weighted avg       0.74      0.80      0.77       650

In [46]:
# XGBoost after Upsampling

In [47]:
from xgboost import XGBClassifier

In [48]:
XGB = XGBClassifier()
XGB.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [49]:
predictions_XGB = XGB.predict(X_test)

print("The Accuracy score is : {} ".format(metrics.accuracy_score(y_test,predictions_XGB)))
print("The F1 Score is : {}".format(metrics.f1_score(y_test,predictions_XGB)))

The Accuracy score is : 0.6246153846153846
The F1 Score is : 0.2469135802469136

In [50]:
print(metrics.classification_report(y_test,predictions_XGB))

              precision    recall  f1-score   support

           0       0.85      0.67      0.75       546
           1       0.18      0.38      0.25       104

    accuracy                           0.62       650
   macro avg       0.52      0.53      0.50       650
weighted avg       0.74      0.62      0.67       650

In [51]:
# downsampling

In [52]:
not_following_downsampled = resample(not_following,
                                replace = False, # sample without replacement
                                n_samples = len(following), # match minority n
                                random_state = 27) # reproducible results

# combine minority and downsampled majority
downsampled = pd.concat([not_following_downsampled,following])

In [53]:
# checking counts
downsampled.user_follows_me.value_counts()

1    167
0    167
Name: user_follows_me, dtype: int64

In [54]:
X_train = downsampled.drop(['user_follows_me'],axis=1)
y_train = downsampled.loc[:,['user_follows_me']]

In [55]:
# Random Forest

In [56]:
RFC_2 = RandomForestClassifier()
RFC_2.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [57]:
predictions_RFC2 = RFC_2.predict(X_test)

print("The Accuracy score is : {} ".format(metrics.accuracy_score(y_test,predictions_RFC2)))
print("The F2 Score is : {}".format(metrics.f1_score(y_test,predictions_RFC2)))

The Accuracy score is : 0.5523076923076923
The F2 Score is : 0.2706766917293233

In [58]:
print(metrics.classification_report(y_test,predictions_RFC2))

              precision    recall  f1-score   support

           0       0.86      0.56      0.68       546
           1       0.18      0.52      0.27       104

    accuracy                           0.55       650
   macro avg       0.52      0.54      0.47       650
weighted avg       0.75      0.55      0.61       650

In [59]:
# XGBoost

In [60]:
XGB1 = XGBClassifier()
XGB1.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [61]:
predictions_XGB1 = XGB1.predict(X_test)

print("The Accuracy score is : {} ".format(metrics.accuracy_score(y_test,predictions_XGB1)))
print("The F1 Score is : {}".format(metrics.f1_score(y_test,predictions_XGB1)))

The Accuracy score is : 0.5246153846153846
The F1 Score is : 0.296127562642369

In [62]:
print(metrics.classification_report(y_test,predictions_XGB1))

              precision    recall  f1-score   support

           0       0.88      0.51      0.64       546
           1       0.19      0.62      0.30       104

    accuracy                           0.52       650
   macro avg       0.54      0.57      0.47       650
weighted avg       0.77      0.52      0.59       650